//Fonts
$font-colour: white
$font-hover: white
$text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)

// Colours
$bg: #8EC4E6
$bg-light: #9DD9FF
$bg-medium: #77A3BF
$bg-alternative: #283640
$bg-alternative-light: #4F6D80
$hover: white
